body {
  background: linear-gradient(160deg, rgb(43, 157, 209), white);
  background-repeat: no-repeat;
  height: 100vh;
}

.title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.form {
  background: rgba(44, 43, 43, 0.212);
}
